<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="KansasGB" connectionString="data source=192.168.193.20;initial catalog=Kansas;integrated security=False;user id=COMPUDEV;password=ZenDen12#;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CSPED" connectionString="data source=192.168.193.20;initial catalog=CSPED;integrated security=False;user id=COMPUDEV;password=ZenDen12#;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CSPEDEntities" connectionString="metadata=res://*/Databases.Model1.csdl|res://*/Databases.Model1.ssdl|res://*/Databases.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.193.20;initial catalog=CSPED;persist security info=True;user id=COMPUDEV;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1" connectionString="data source=192.168.193.20;initial catalog=CSPED;integrated security=False;user id=COMPUDEV;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="outlook.office365.com" />
    <add key="EmailUser" value="notification@meduclaim.com" />
    <add key="EmailPassword" value="Challenger2016!" />
    <add key="EmailFromAddress" value="notification@meduclaim.com" />
    <add key="EmailNotify" value="true" />
    <add key="EmailNeedsSSL" value="true" />
    <add key="ErrorEmailAddresses" value="malzamora@compuclaim.com" />
    <!-- separate email recipients by a semicolon ex.  "sstrommen@compuclaim.com;jberg@compuclaim.com" -->
    <add key="ErrorEmailSubject" value="Exception in Data Transfer CompuSPED" />
    <!-- the subject text for an exception email message -->
    <add key="ErrorEmailBody" value=" - There has been an exception in DataTransferCompuSPED.exe.  Please check file locations and status for any anomalies." />
    <!-- the non hard coded body portion of the exception -->
    <add key="ErrorFileName" value="error.log" />
    <!-- error filename -->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>